body, h1, h2, p, ul, li {
    margin: 0;
   
    padding: 0;
}

* {
    box-sizing: border-box;
}

.nav {
    
    background: linear-gradient(to right, #f2a0a0, #2196f3);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav ul {
    margin-left: 10%;
    margin-right: 10%;
    list-style: none;
    display: flex;
   
}

.nav li {
    margin: 0 10px;
    
    
}

.nav img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
}
.nav p{ margin-left: 5%;
    margin-right: 5%;
    font-family: 'Oswald', sans-serif;
    
}
#req {
   
    font-size: 17px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px; 
    display: inline-block; 
    cursor: pointer;
    margin-right: 10%;
}
.nav2{
    background: linear-gradient(to right, #f1e3e3, #b4ccdf);
    padding: 10px;
    display: flex;
    
    align-items: center;
}
.nav2 ul {
    margin-left: 10%;
    margin-right: 10%;
    list-style: none;
    display: flex;
   
}
.nav2 li {
    margin: 0 20px;       
}

.nav2 a {
    margin-right: 10%;
    font-family: 'Oswald', sans-serif;
    text-decoration:solid;
    color: black;
}
.nav2 p{
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    
}
.nav2 img{
    margin-left: 10%;
    width: 30px;
    height: 30px;


}
#buy-now{
    background-color: rgb(217, 217, 95);
    padding-left: 20px;
    margin-left: 10px;
    align-items: center;
}
.area {
    position: relative;
}

.area img {
    
    width: 100%;
    height: auto;
}